body {
    --main-color: #5fd96e;
    --background-color: #3b3a43;
    --main-color2: #173132;

    margin: 0;
}

.main-content {
    margin: auto;
    width: 70em;
}

.site-footer {
    padding: 1em;
    background-image: linear-gradient(#3b3a43,#173132);
}

.site-footer p{
    color: var(--main-color);
}