.dashboard-houses {
    margin: 1em;
}

.heading {
    margin-left: 1rem;
}

.add-house-btn {
    margin-left: 1rem;
}

.dashboard-card {
    margin: 1em 0;
    padding: 0.5em;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    box-shadow: 0 0 6px rgba(0,0,0,0.6);

    border: 1px solid var(--gray-lines);
    border-radius: 5px;

    overflow: ellipsis;
}

.dashboard-card:hover {
    box-shadow: 0 0 6px var(--green);
}

.dashboard-house-pic-container img {
    margin-right: 1rem;
}

.dashboard-house-pic-container img {
    height: 10rem;
    width: auto;
    max-width: 100%;
}

.dashboard-card-main-info {
}

.dashboard-card-rating-price-info {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.dashboard-card-title {
    margin: 0;
    margin-top: 0.5em;
    margin-right: 1em;
}

.dashboard-card-capacity {
    margin-top: 0;
}

.dashboard-card-price {
    margin-left: 1em;
}

.dashboard-card-address {
    margin-top: 0;
    color: gray;
}

.dashboard-card-description {
    max-width: 50rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}