
main{
    display: flex;
    justify-content: center;
}


/*
form {
    border: 1px solid var(--light-gray-background);
    padding:1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
*/