main {
    display: flex;
    justify-content: center;
}

form {
    margin-top: 1em;
    padding: 1em;

    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);

    border: 1px solid var(--green);
    border-radius: 5px;

}