.filter-renderer {
    margin: 1em auto 1em auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-form {
    display: flex;
    margin: 0;
    align-items: center;
}


.search-form-container {
    padding: 0.5em;
    display: flex;
    border-bottom: 1px solid var(--gray-lines);
    border-radius: 1px;
}


.search-field {
    width: 35em;
    padding: 0.5em;
    border: 0px solid black;
    border-radius: 5px 0 0 5px;
    background-color: var(--main-background);

}

.submit-button-wrapper{
    margin-left: 5em;
}


.houses-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.house-card {
    margin: 1em;
    flex-basis: 20%;
    min-width: 20%;
    border-width: 0px;
    border-color: #aaa;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    background-color: white;
}

.thumbnail-container {
    overflow: hidden;
}

.card-thumbnail {
    z-index: 9;
    margin: 0 auto;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 15em;
    overflow: hidden;
    transition: transform .5s ease;
}

.card-thumbnail:hover {
    transform: scale(1.2);
}

.card-info {
    z-index: 10;
    padding: 0.5em;

    max-width: 20rem;
    overflow: hidden;
}

.card-info p {
    margin: 0;
}

.house-card-title {
    margin: 0;
}

.clip-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.house-card-address {
    color: gray;
    font-size: 0.8rem;
}

.price-rating-container {
    display: flex;
}

.price-rating-container p {
    margin-right: 1rem;
}

.search-field-container {
    display: flex;
}

.submit-button {
    flex: none;
}

.form-element {
    padding-right: 2em;
}