#reservations-table {
    border-collapse: collapse;
    width: 100%;
}

#reservations-table td, th {
    padding: 1em;
    border-top: 1px solid rgba(0,0,0,0.6);
    border-bottom: 1px solid rgba(0,0,0,0.6);
}

#reservation-type-buttons {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

#reservation-type-buttons a {
    margin: 0 1rem;
    padding: 1em;
    cursor: pointer;

    border-radius: 5px;

    background-color: gray;
}

#reservation-type-buttons .selected-tab {
    background-color: var(--green);
}

#reservation-type-buttons a:hover {
    background-color: gray;
}

#reservations-table .reservation:hover {
    background-color: gray;
}