#reservations-table {
    width: 100%;
}

.table-header {
    font-weight: bold;
}

.reservations-table-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;

    border: 1px solid var(--gray-lines);
}

.reservations-table-row p {
    text-align: center;
}

#reservations-table .reservation:hover {
    background-color: gray;
}

.status-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reject-button {
    background-color: red;
}

.reject-button:hover {
    background-color: rgb(120, 0, 0);
}

.status-button {
    margin: 0.5rem;
}

.table-row-name {
    font-weight: bold;
}
