#reservations-table {
    width: 100%;
}

.table-header {
    font-weight: bold;
}

.reservations-table-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.reservations-table-row p {
    text-align: center;
}

#reservations-table .reservation:hover {
    background-color: gray;
}

.status-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reject-button {
    background-color: red;
}

.status-button {
    margin: 0.5rem;
}

.table-row-name {
    font-weight: bold;
}

#reservation-type-buttons {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

#reservation-type-buttons a {
    margin: 0 1rem;
    padding: 1em;
    cursor: pointer;

    border-radius: 5px;

    background-color: gray;
}

#reservation-type-buttons .selected-tab {
    background-color: var(--green);
}

#reservation-type-buttons a:hover {
    background-color: gray;
}
