#reservations-table {
    width: 100%;
}

.heading {
    margin: 1rem;
}

.house-info {
    margin: 1rem;
}

.house-info p {
    margin: 0.5rem 0;
}

.management-buttons {
    margin-left: 1rem;
}

.table-header {
    font-weight: bold;
}

.edit-button {
    margin: 1rem;
    padding: 0.5rem;
    background-color: var(--green);
}

.reservations-table-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;

    border: 1px solid var(--gray-lines);
}

.reservations-table-row p {
    text-align: center;
}

#reservations-table .reservation:hover {
    background-color: gray;
}

.status-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reject-button {
    background-color: var(--red);
}

.reject-button:hover {
    background-color: var(--dark-red);
}

.status-button {
    margin: 0.5rem;
}

.table-row-name {
    font-weight: bold;
}
