.profile-header {
    display: flex;
    margin-bottom: 44px;
    
}

.profile-picture-container {
    margin-right:2em;
    flex-basis: 0;
}

.profile-picture-container img {
    height: 15em;
    border-radius: 50%;
    border: 2px solid var(--gray-lines);
    width: 15em;
}

.user-details {
    flex-grow: 1;
    margin-left: 1em;
    flex-basis: 30px;
    display: flex;
    flex-direction: column;
}

.profile-container{
   display: flex;
   padding-top: 2em;
   justify-content: center;
   
}

.first-line{
    display: flex;
    align-items: center;
}

button{
    margin-left: 2em;
}

span{
    margin-left: 0.5em;
}


.user-bio-wrapper{
    max-width: 40vw;
}

.user-email{
    font-size: 1.1em;
    margin-top: 0;
}

.email-line{
    display: flex;
}

.material-icons{
    color: lightgray;
    margin-right: 0.3em;
    
}

@media (max-width:1050px){
    .profile-header{
        flex-direction: column;
        flex-grow: 2;
        align-items: center;
    }
    .user-bio-wrapper{
        max-width: 80vw;
        word-wrap: break-word
    }    
    
}
@media (max-width:605px){

    .first-line{
        flex-direction: column;
        align-items: center;
    }
    button{
        margin-top: 1em;
    }
    .email-line{
        justify-content: center;
        margin-top: 1em;
    }
    .profile-picture-container{
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .user-bio{
        text-align: center;
    }

    .profile-picture-container > form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    button{
        margin:0;
        margin-top:1em;
    }
    .profile-picture-wrapper{
        display: flex;
        justify-content: center;
}
}