.profile-content {
    display: grid;

    padding: 1em;

    grid-template-columns: 1fr 2fr;
}

.profile-picture-container {
    grid-column-start: 1;
    grid-column-end: 2;
}

.profile-picture-container img {
    height: 20em;
}

.user-details {
    grid-column-start: 2;
    grid-column-end: 3;

    margin-left: 1em;
}