.profile-header {
    display: flex;
    margin-bottom: 44px;
    
}

.profile-picture-container {
    margin-right:2em;
    flex-basis: 0;
}

.profile-picture-container img {
    height: 15em;
    border-radius: 50%;
    border: 2px solid var(--gray-lines);
}

.user-details {
    flex-grow: 2;
    margin-left: 1em;
    flex-basis: 30px;
}

.profile-container{
   display: flex;
   padding-top: 2em;
   justify-content: center;
   
}

.first-line{
    display: flex;
    align-items: center;
}

button{
    margin-left: 2em;
}

span{
    margin-left: 0.5em;
}