.topbar {
    padding: 0.5em;
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    /*background-image: linear-gradient(#173132, #3b3a43);*/
    font-family: 'Roboto', sans-serif;
}

.bar-logo {
    justify-self: start;
    margin-right: auto;
    font-size: 3em;

}

.bar-logo p {
    margin: 0;
    color:#273c48;
    padding-left:0.2em;
    font-size: 0.9em;
}

.topbar .user-options-container {
    padding-right: 1em;
    display: flex;
}

.topbar .user-options-container p {
    margin: 0;
    padding: 0.5em;

    margin-left: 1em;
    border: 0px solid rgb(12, 4, 4);
    transition-duration: 300ms;

}
.button{
    color:white;
}

.topbar .user-options-container p:hover{
   /* border-bottom: 1px solid rgb(12, 4, 4);*/
    color: black;

}

.topbar .user-options-container a {
    text-decoration: none;
    color: white;
}

