.topbar {
    padding: 0.5em;
    display: flex;
    align-items: center;

    /*background-image: linear-gradient(#173132, #3b3a43);*/
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding-left: 5%;
    padding-right: 5%;
}

.bar-logo {
    justify-self: start;
    margin-right: auto;
    font-size: 3em;
    padding-left: 0.5em;

}

.bar-logo p {
    margin: 0;
    color: var(--green);
    font-size: 0.9em;
    font-family: var(--title-font);
}


.topbar .user-options-container {
    padding-right: 2em;
    display: flex;
}

.topbar .user-options-container a {
    margin: 0;
    padding: 0.5em;

    margin-left: 1em;
    border: 0px solid rgb(12, 4, 4);
    transition-duration: 300ms;

}

.nav-button {
    color: black;
    font-size: 1.2em;
    cursor: pointer;
}

.topbar .user-options-container p:hover {
    color: var(--green);

}


.topbar .user-options-container a {
    text-decoration: none;
    color: black;
    padding: 0em;
}

#icon {
    display: none;
}

.hamburguer-nav{
    display: none;
}
.hamburguer-nav > div{
    display: flex;
    justify-content: center;
    border-bottom: solid 1px var(--gray-lines);
    
}
@media (max-width:680px) {

    #icon-menu {
        display: block;
    }

    #icon-menu span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: var(--green);
        border-radius: 3px;
    }
    .nav-button{
        display: none;
    }

    
    
}


@keyframes slide-down {
    0% { opacity: 0; -webkit-transform: translateY(-100%); }   
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
    0% { opacity: 0; -moz-transform: translateY(-100%); }   
  100% { opacity: 1; -moz-transform: translateY(0); }
}